*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.mainCont{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.inputCont input{
    padding: 10px;
    border-radius: 5px;
    border: 1.5px #1877F2 solid;
    color: black;
    width: 500px;
    outline: none;
    font-weight: 500;
}
.inputCont button{
    font-size: 20px;
    font-weight: 100;
    background-color: blueviolet;
    color: white;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
.inputCont button:hover{
    background-color: white;
    color: blueviolet;
    border: 1.5px solid blueviolet;
    font-weight: bolder;
}
.outputCont{
    margin-left: 100px;
}
.outputCont li{
    color: black;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    width: 300px;
    margin: 0px 0px 15px 0px;
    font-size: 18px;
}
.outputCont ul{
    list-style-type: none;
}
.EachTask{
    display: flex;
    background-color: rgb(234, 205, 128);
    margin-bottom: 8px;
    border-radius: 5px;
    align-items: center;
}
.EachTask Button{
    font-size: 15px;
    cursor: pointer;
    margin: 5px 10px 5px 10px;
}
.ModalEditBody{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.ModalEditBody div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #1877F2;
}